*.log
.DS_Store
.idea
Thumbs.db
npm-debug.log*
install.lock
config/database.config.js
!.gitkeep

node_modules
logs/*/*
!logs/*/*.gitkeep
tmp/*
!tmp/*.gitkeep
publish/admin/*
!public/admin/.gitkeep
publish/media/*
!public/media/.gitkeep
publish/plugins/*
!public/plugins/.gitkeep
publish/themes/*
!public/themes/.gitkeep
/dist