<footer>
  <div class="container">
    <div class="row">
      <!-- copyright -->
      <div class="col-md-4 col-sm-4">
        copyright &copy; 2015 <a href="#" style="margin-left: 4px;">Your website Link</a>
        <br>
        Theme by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
      </div>

      <!-- footer share button -->
      <div class="col-md-4 col-sm-4">
        <ul class="social-share text-center">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul> <!-- /.social-share -->
      </div>

      <!-- footer-nav -->
      <div class="col-md-4 col-sm-4">
        <ul class="footer-nav">
          <li><a href="about.html">About</a></li>
          <li><a href="privacy.html">Privacy</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul> <!-- /.footer-nav -->
      </div> 
    </div>
  </div>
</footer>