<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="<%= siteInfo.description %>" />
  <meta name="keywords" content="<%= siteInfo.keywords %>" />
  <meta name="author" content="Hotchcms" />
  <title><%= siteInfo.title %></title>
</head>
