<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hotchcms - 安装2</title>
</head>
<body>
  <form method="put" action="loginHandle">
    <input type="text">
  </form>
</body>
</html>