{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "semi": ["warn", "never"],
    "consistent-return": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0
  }
}
