*.log
.DS_Store
.idea
Thumbs.db
npm-debug.log*
!.gitkeep
node_modules
logs/*
!logs/*.gitkeep
static/theme
!static/theme/*.gitkeep
static/upload
!static/upload/*.gitkeep
tmp/*
!tmp/*.gitkeep
install.lock
dump.rdb