*.log
.DS_Store
.idea
Thumbs.db
npm-debug.log*
!.gitkeep
node_modules
logs/*
!logs/*.gitkeep
static/themes
!static/themes/*.gitkeep
static/upload
!static/upload/*.gitkeep
temp/*
!temp/*.gitkeep
install.lock